[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
scipy = "*"
eyed3 = "*"
stagger = "*"
sklearn = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
pymysql = "*"
gunicorn = "*"
ffmpeg = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
